[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-dotenv = "*"
django = "==3.1.4"
django-countries = "*"
django-seed = "*"
requests = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.7"
